  <!-- Header-->
  <header id="header" class="header bg-dark">
    <div class="top-left bg-dark">
        <div class="navbar-header bg-dark ">
            <a class="navbar-brand text-light">Sistema de inventario</a>
         
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="top-right bg-dark" >
        <div class="header-menu bg-dark">
        
            <div class="user-area dropdown float-right ">
                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle" src="../../../assets/admin.png" alt="User Avatar">
                </a>

                <div class="user-menu dropdown-menu bg-light">
                    <a class="nav-link" (click)="logout()"><i class="fa fa-power -off"></i>Cerrar sesión</a>
                </div>
            </div>

        </div>
    </div>
</header>