
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li class="" routerLink="/administrador">
                        <a ><i class="menu-icon fa fa-laptop"></i>Equipos</a>
                    </li>
                    <li class="active " >
                        <a ><i class="menu-icon fa fa-users"></i>Asignaciones</a>
                    </li> 
                   
                    <li class="" routerLink="/admin-login">
                        <a ><i class="menu-icon fa fa-user "></i>Administrador</a>
                    </li>
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
<div id="right-panel" class="right-panel ">
    <app-navbar></app-navbar>
      
      <div class="content " style="background-color:rgb(233, 235, 235)">
            <div class="clearfix"></div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <section class="card">
                              <div class="card-body"> <h4 class="box-title">Agregar nuevo empleado</h4></div>
                                <div class="card-body text-secondary">
                                   
                                     
                                      
                                            <form [formGroup]="empleado_form">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Nombre" formControlName="n_completo" >
                                            </div>
                                            <div class="form-group">
                                               
                                                <select class="form-select" aria-label="Default select example" formControlName="cliente">
                                                    <option label="Cliente" disabled></option>
                                                    <option value="BBVA">BBVA</option>
                                                    <option value="Banamex">Banamex</option>
                                                   
                                                  </select>
                                            </div>
                                          
                                            <div>
                                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                    <button type="submit" class="btn btn-outline-primary" (click)="agregarEmpleado()">
                                                   
                                                        Guardar
                                                         
                                                     </button>
                                                </div>
                                               
                                            </div>
                                        </form>
                                       
                                   
                                </div>
                            </section>
                            <section class="card">
                                <div class="card-body"> <h4 class="box-title">Agregar nuevo cliente</h4></div>
                                  <div class="card-body text-secondary">
                                     
                                       
                                        
                                              <form [formGroup]="empleado_form">
                                              
                                              <div class="form-group">
                                                  <input type="text" class="form-control" placeholder="Cliente" formControlName="cliente">
                                              </div>
                                            
                                              <div>
                                                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                      <button type="submit" class="btn btn-outline-primary" >Guardar</button>
                                                  </div>
                                                 
                                              </div>
                                          </form>
                                         
                                     
                                  </div>
                              </section>
                        </div>
                        <div class="col-lg-8">
                            <section class="card">
                                <div class="card-body text-secondary">
                                    
                <div class="card-body">
                    <strong class="card-title">Asignación de computadoras</strong>
                </div>
               
                <form [formGroup]="equipo_asignado">
                <div class="card-body">
                        <label for="exampleDataList" class="form-label">Empleado:</label>
                        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Seleccionar empleado"  formControlName="fk_id_empleado">
                        <datalist id="datalistOptions">
                            <option *ngFor="let empleado of empleados " value="{{empleado.id_prop}} ">{{empleado.n_completo}} - {{empleado.cliente}}</option>
                         
                          </datalist>
                          

                          
                   
            </div>
            <div class="card-body">
               

                  <label for="exampleDataList" class="form-label">Equipo:</label>
                  <input class="form-control" list="listOptions" id="exampleDataList" placeholder="Seleccionar equipo"  formControlName="fk_id_equipo">
                  <datalist id="listOptions">
                      <option *ngFor="let equipo of equipos" value="{{equipo.id_comp}}">{{equipo.tipo}} - {{equipo.marca}} -{{equipo.modelo}}- {{equipo.n_serie}} </option>
                   
                    </datalist>
                    
                  

             
        </div>
        <div class="card-body">
            <label for="nf-email" class=" form-control-label">Fecha de asignación</label>
            <input type="date" class="form-control" placeholder="Memoria ram" formControlName="f_asignacion">
        </div>
        <div class="card-body">
            <div class=" row form-group">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-secondary me-md-2" type="button" (click)="resetForm()">Cancelar</button>
                    <button class="btn btn-outline-primary" type="button" (click)="asignarEquipo()">Guardar </button>
                  </div>
               
                 <div class="col col-md-6">
                    <div class="alert alert-primary alert-dismissible fade show justify-content-md-end" role="alert" *ngIf="this.resultado !false">
                        <strong>Acción realizada con exito</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div></div>
                </div>
            </div>
    </form>
                                </div>
                            </section>
                        </div>
                    </div>

                

        
                </div>
        </div>
      
            
                <div class="row">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="box-title">Registros de equipo asignados</h4>
                               
                                <div class="container">   
                                    <label class=" form-control-label">Filtro:</label>
                                    <input class="form-control me-2" type="search" placeholder="" aria-label="Search" [(ngModel)]="searchText" >
                                </div>
                            
                            </div> 
                           
                            <div class="card-body--">
                                <div class="container-fluid">
                                    <table class="table table-bordered table-hover" >
                                        <thead class="table-dark">
                                            <tr>
                                                <th class="serial">#</th>
                                                <th>Nombre</th>
                                                <th>Cliente</th>
                                                <th>F. asignación</th>
                                                <th>Equipo asignado</th>
                                              
                                                <th>Estado</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let e_a of equipo_empleado
                                            | paginate: { itemsPerPage: 15, currentPage: pages }
                                            | filter: searchText">
                                                <td class="serial">1.</td>
                                                <td>{{e_a.n_completo}}</td>
                                                <td> {{e_a.cliente}}</td>
                                                <td>{{e_a.f_asignacion}}</td>
                                                <td> 
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                            {{e_a.tipo}}
                                                        </a>
                                                      
                                                        <ul class="dropdown-menu bg-light" aria-labelledby="dropdownMenuLink">
                                                            <div>
                                                         
                                                          <li><a class="dropdown-item">Marca:{{e_a.marca}}</a></li>
                                                          <li><a class="dropdown-item">Modelo: {{e_a.modelo}}</a></li>
                                                          <li><a class="dropdown-item">N. serie: {{e_a.n_serie}}</a></li>
                                                          <li><a class="dropdown-item">M. ram: {{e_a.m_ram}}</a></li>
                                                          <li><a class="dropdown-item">Procesador: {{e_a.procesador}}</a></li>
                                                          <li><a class="dropdown-item">F. garantía: {{e_a.f_garantia}}</a></li>
                                                          <li><a class="dropdown-item">F. compra: {{e_a.f_compra}}</a></li>
                                                          <li><a class="dropdown-item">Estatus: {{e_a.estatus}}</a></li>

                                                            </div>
                                                        </ul>
                                                      </div>

                                                      
                                                    </td>

                                                <td>
                                                   Activo
                                               </td>
                                            </tr>
                                           
                                         
                                        </tbody>
                                    </table>
                                </div>
                                <pagination-controls
                                (pageChange)="pages = $event"
                                
                                previousLabel="Anterior"
                                nextLabel="Siguiente"
                                ></pagination-controls>  <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>  <!-- /.col-lg-8 -->
<!-- /.col-md-4 -->
                </div>
            </div>

            
          </div>
    