
  
  <section class="vh-100" style="background-color: rgb(235, 233, 254);">
    <div class="container py-5 h-100  ">
      <div class="row d-flex justify-content-center align-items-center h-90 fadeInDown ">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4 ">
          <div class="card shadow-2-strong border-gardient-dark " style="border-radius: .80rem; flex-wrap: wrap;">
            <div class="card-body p-5">
             
              <div class="text-center">
                <img src="../../../assets/sitdigital.png"
                  style="width: 200px; height: 150px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1 text-center">Inicio de sesión</h4>
              </div>
              <form [formGroup]="loginForm">
                <div class="mb-3">
                  <label class="form-label form-control-sm">Email</label>
                  <input type="email" class="form-control form-control-sm" formControlName="email">
                  <div class="form-text text-danger" *ngIf="this.loginForm.get('email')?.errors?.['email']">Ingresa un correo valido</div>
                </div>
                <div class="mb-3">
                  <label class="form-label form-control-sm">Contraseña</label>
                  <input type="password" class="form-control form-control-sm" formControlName="password" >
                  <div class="form-text text-danger" *ngIf="this.loginForm.get('password')?.errors?.['minlength']">Minimo 8 caracteres</div>
                </div>
                
                <div class="mb-3 text-center">
                  <button type="submit" class="btn btn-outline-primary text-center btn-sm" style="width: 100%; margin-top: 1rem;" (click)="Onsubmit()">Ingresar</button>
                </div>          
              </form> 
              <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="this.respuesta == false">
                Datos incorrectos
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


